<!-- views/connexion.ejs -->
<!doctype html>
<html>
<head>
    <title>Creation annonce</title>
    <% include ./partials/header %>
</head>
<body>
<% include ./partials/navbar %>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3 ">
        <h1><span class="fa fa-sign-in"></span> Créez votre annonce !</h1>

        <!-- show any messages that come back when validating -->
        <% if (msgError.length > 0) { %>
        <div class="alert alert-danger"><%= msgError %></div>
        <% } %>
        <% if (msgSuccess.length > 0) { %>
        <div class="alert alert-success"><%= msgSuccess %></div>
        <% } %>

        <%if (typeof categories !== 'undefined' && typeof units !== 'undefined') { %>
        <!-- LOGIN FORM -->
        <form action="/annonce/new" method="post">
            <div class="form-group">
                <label>Catégorie</label>
                <select class="form-control" name="category">
                <% categories.forEach(function (item) { %>
                  <option value=<%= item.id%>><%= item.name%></option> 
                <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label>Produit</label>
                <select name="product" class="form-control" >
                  <option value="1">Select1</option>
                  <option value="2">Select2</option>
                  <option value="3">Select3</option>
                </select>
            </div>
            <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="description"></textarea>
            </div>
            <div class="form-group">
                <label>Localisation</label>
                <input type="text" class="form-control" name="location">
            </div>
            <div class="form-group">
                <label>Photo (URL)</label>
                <input type="text" class="form-control" name="photo">
            </div>
            <div class="form-group">
                <label>Prix (€)</label>
                <input type='number' class="form-control" name="price" step='0.01' value='0.00' placeholder='0.00' />
            </div>
            <div class="form-group">
                <label>Quantité disponible</label>
                <input type='number' class="form-control" name="quantity" step='1' value='0' placeholder='0' />
            </div>
            <div class="form-group">
                <label>Unité</label>
                <select class="form-control" name="unit">
                <% units.forEach(function (item) { %>
                  <option value=<%= item.id%>><%= item.name%></option> 
                <% }) %>
                </select>
            </div>
            <button type="submit" class="btn btn-lg">Créer</button>
        </form>
        <% } %>
    </div>
</div>

<% include ./partials/footer %>

</body>
</html>