<!-- views/gestionCompte.ejs -->
<!doctype html>
<html>
<head>
    <title>Profil</title>
    <% include ./partials/header %>
    <script>
        $( function() {
            $( "#tabs" ).tabs();
        } );
    </script>
</head>
<body >
<% include ./partials/navbar %>
<div class="container">
        <div class="col-sm-8 col-sm-offset-2 ">
            <% if (msgError.length > 0) { %>
                <div class="alert alert-danger"> <%= msgError %> </div>
            <% } %>
            <% if (msgSuccess.length > 0) { %>
                <div class="alert alert-success"> <%= msgSuccess %> </div>
            <% } %>
        </div>
</div>
<div class="container">
  
    <div id="tabs">

        <ul>
            <li><a href="#tabs-1">Identifiants</a></li>
            <li><a href="#tabs-2">Mot de passe</a></li>
            <li><a href="#tabs-3">Informations livraison</a></li>
        </ul>
        <div class="col-sm-8 col-sm-offset-2 " id="tabs-1">
              <h2>Mes informations : </h2>
              <form action="/infoGeneral" method="post">
               
                <div class="form-group">
                    <label>Login</label>
                    <input type="text" class="form-control" name="username" value="<%= profil.loginUser%>" required disabled="disabled">
                </div>
                <div class="form-group">
                    <label>Mail</label><%= profil.mailUser %>
                    <input type="email" class="form-control" name="mail" value="<%= profil.emailUser %>" required>
                </div>
                <!--on garde en memoire les ancienne valeur pour ne pas devoir recharger a chaque fois le profil-->
                <input type="hidden" value="<%= profil.emailUser %>" name="profilMail">
                <input type="hidden" value="<%= profil.lastName %>" name="profilLastName">
                <input type="hidden" value="<%= profil.firstName %>" name="profilFirstName">
                <input type="hidden" value="<%= profil.birth %>" name="profilBirth">
                <input type="hidden" value="<%= profil.sex %>" name="profilSex">
                <input type="hidden" value="<%= profil.address %>" name="profilAddress">
                <input type="hidden" value="<%= profil.city %>" name="profilCity">
                <input type="hidden" value="<%= profil.cp %>" name="profilCp">
                
                <button type="submit" class="btn btn-lg">Modifier mes informations</button>
            </form>
    
        </div>
        
        <div class="col-sm-8 col-sm-offset-2 " id="tabs-2">
            <h2>Modifier mon mot de passe</h2>
            <form action="/modifierMdp" method="post">
                <div class="form-group">
                        <label>Ancien mot de passe</label>
                        <input type="password" class="form-control" name="oldPassword" required>
                    </div>
                <div class="form-group">
                    <label>Mot de passe</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group">
                    <label>Confirmer le mot de passe</label>
                    <input type="password" class="form-control" name="passwordConfirm" required>
                </div>
                <!--on garde en memoire les ancienne valeur pour ne pas devoir recharger a chaque fois le profil-->
                <input type="hidden" value="<%= profil.emailUser %>" name="profilMail">
                <input type="hidden" value="<%= profil.lastName %>" name="profilLastName">
                <input type="hidden" value="<%= profil.firstName %>" name="profilFirstName">
                <input type="hidden" value="<%= profil.birth %>" name="profilBirth">
                <input type="hidden" value="<%= profil.sex %>" name="profilSex">
                <input type="hidden" value="<%= profil.address %>" name="profilAddress">
                <input type="hidden" value="<%= profil.city %>" name="profilCity">
                <input type="hidden" value="<%= profil.cp %>" name="profilCp">

                <button type="submit" class="btn btn-l">Modifier mon mot de passe</button>
                
            </form>
        </div>


        <div class="col-sm-8 col-sm-offset-2 " id="tabs-3">
           <h2>Informations livraison</h2>
           <form action="/informationsLivraison" method="post">
                <div class="form-group">
                    <label>Nom</label>
                    <input type="text" class="form-control" name="lastName" value="<%= profil.lastNameUser %>" required>
                </div>
                <div class="form-group">
                    <label>Prénom</label>
                    <input type="text" class="form-control"  value="<%= profil.firstNameUser %>" name="firstName" required>
                </div>
                <div class="form-group">
                    <label>Date de naissance</label>
                    <input type="date" class="form-control"  value="<%= profil.birthUser %>" name="birth" required>
                </div>
                <div class="form-group">
                    <label>Sexe</label>
                    <select name="sex">
                        <option></option>
                        <option value="H" name="sex" <% if (profil.sexUser == "H") { %> selected <% } %> >H</option>
                        <option value="F" name="sex" <% if (profil.sexUser == "F") { %> selected <% } %> >F</option>
                    </select>  
                </div>
                <div class="form-group">
                    <label>Adresse</label>
                    <input type="text" class="form-control"  value="<%= profil.addressUser %>" name="address" required>
                </div>
                <div class="form-group">
                    <label>Ville</label>
                    <input type="text" class="form-control"  value="<%= profil.cityUser %>" name="city" required>
                </div>
                <div class="form-group">
                    <label>Code Postal</label>
                    <input type="number" class="form-control"  value="<%= profil.cpUser %>" name="cp" required>
                </div>

                <!--on garde en memoire les ancienne valeur pour ne pas devoir recharger a chaque fois le profil-->
                <input type="hidden" value="<%= profil.emailUser %>" name="profilMail">
                <input type="hidden" value="<%= profil.lastNameUser %>" name="profilLastName">
                <input type="hidden" value="<%= profil.firstNameUser %>" name="profilFirstName">
                <input type="hidden" value="<%= profil.birthUser %>" name="profilBirth">
                <input type="hidden" value="<%= profil.sexUser %>" name="profilSex">
                <input type="hidden" value="<%= profil.addressUser %>" name="profilAddress">
                <input type="hidden" value="<%= profil.cityUser %>" name="profilCity">
                <input type="hidden" value="<%= profil.cpUser %>" name="profilCp">

                <button type="submit" class="btn btn-lg ">Modifier mes informations de livraison</button>
               
           </form>
       </div>

    </div>
    


</div>
<% include ./partials/footer %>
</body>
</html>